@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
margin:0;
display:flex;
justify-content: center;
height:100vh;
 align-items:center;
 font-family: 'Permanent Marker';
 white-space: none;
 background-color:rgba(0, 42, 255, 0.555);
}
